---
import Layout from "@/layouts/Layout.astro";
import Button from '@/components/Button.vue';
import { PawPrint } from "lucide-vue-next";
---

<Layout>
<header role="banner">
	<nav class="fixed flex justify-between items-center w-full mx-auto bg-white p-4">
	<div class="flex bg-red-400 p-2 rounded-2xl w-auto gap-2">Little footprints <PawPrint /></div>
		<ul class="flex justify-center items-center space-x-8 p-2 rounded-2xl text-gray-800">
			<li>Hello1</li>
			<li>Hello1</li>
			<li>Hello1</li>
			<li>Hello1</li>
			<li>Hello1</li>
			<button class="bg-black/80 rounded-2xl px-10 py-2 text-white cursor-pointer" type="button">Hello?</button>
		</ul>	
	</nav>

	<main class="w-full h-dvh pt-24 bg-amber-500" role="main">
		<section >
			<div>
				Secciones de la pagina
				<Button client:load/>
			</div>
		</section>
	</main>
</header>
</Layout>

